$border-radius: 21px !default;

$btn-padding-y:               11px;
$btn-padding-x:               16px;


$btn-font-size:               16.5px;


$table-cell-padding-y:        1.1rem;
$table-cell-padding-x:        1.1rem;


// $btn-border-radius:           15px;

@import "~bootstrap/scss/bootstrap";